
body{
    background-image: url("../img/login_hw.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

form{
    padding-top: 10%;
    display: block;
    width: 30%;
    margin: 0 auto;
}

.form-group label{
    color: azure;
    font-family: 'Garamond' ;
}

.form-group input{
    opacity: 80%;
    font-family: 'Garamond' ;
}

.naslov{
    color: whitesmoke;
    font-family: 'Garamond' ;
    text-align: center;
    padding-top: 5%;
    font-size: 4em;
}
